@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/*body{*/
/*  color: #ffffff;*/
/*}*/

.text {
  font-weight: 700;
  letter-spacing: 0.395rem;
  text-transform: uppercase;

  font-size: 1rem;
  fill: #ffffff;
  text-shadow: 0.0125rem 1px 5px rgba(0,0,0,0.2);
  transform: rotateY(180deg);
}

#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 1.2s ease-in-out;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);

  }
}

