@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(255, 255, 255);
  background: black;
}

/*section#circular-text {*/
/*  animation: animate 17.5s linear infinite;*/
/*}*/

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.letter {
  /*position: absolute;*/
  font-family: inherit;
  /*top: 0;*/
  /*left: 30px;*/
  font-weight: normal;
  font-size: 24px;
  display: inline-block;
  color: white;
  transform-origin: 0 70px;
  text-transform: uppercase;
  line-height: 0;
}

.css-selector {
  background: linear-gradient(180deg, rgba(63, 105, 255, 0.5), rgba(0, 27, 123, 0.5), rgba(143, 43, 43, 0));
  width: 100vw;
  height: 100vh;


  -webkit-animation: CreatorConnect 10s linear forwards;
  -moz-animation: CreatorConnect 10s linear forwards;
  -o-animation: CreatorConnect 10s linear forwards;
  animation: CreatorConnect 10s linear forwards;
}

@-webkit-keyframes CreatorConnect {
  100%{background-position:50% 0%; opacity: 0}
  50%{background-position:51% 100%; opacity: 1}
  0%{background-position:50% 0%; opacity: 0}
}
@-moz-keyframes CreatorConnect {
  100%{background-position:50% 0%; opacity: 0}
  50%{background-position:51% 100%; opacity: 1}
  0%{background-position:50% 0%; opacity: 0}
}
@-o-keyframes CreatorConnect {
  100%{background-position:50% 0%; opacity: 0}
  50%{background-position:51% 100%; opacity: 1}
  0%{background-position:50% 0%; opacity: 0}
}
@keyframes CreatorConnect {
  100%{background-position:50% 0%; opacity: 0}
  50%{background-position:51% 100%; opacity: 1}
  0%{background-position:50% 0%; opacity: 0}
}
